***Dictionaries***


1. Introduction to Dictionaries

2. Creating Dictionaries

3. Accessing Dictionary Elements

4. Modifying Dictionary Elements

5. Dictionary Methods

6. Iterating Over Dictionaries

7. Nested Dictionaries

8. Dictionary Comprehension

9. Practical Examples and common Errors

***Dictionaries***

Dictionaries are unordered collections of items.They stores data in key-value pairs. Keys must be uniques and immutable(e.g strings, numbers, or tuples), while value can be any type.

**Creating Dictionaries**

In [30]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [31]:
empty_dict=dict()
print(type(empty_dict))

<class 'dict'>

In [32]:
student={"name":"Fatima","age":25,"major":"Computer Science"}
print(student)

{'name': 'Fatima', 'age': 25, 'major': 'Computer Science'}

**Single key is always used**

In [33]:
student={"name":"khan","age":25,"age":26}
print(student)

{'name': 'khan', 'age': 26}

**Accessing dictionary elements**

In [34]:
student={"name":"Fatima","age":25,"major":"Computer Science"}
print(student)

{'name': 'Fatima', 'age': 25, 'major': 'Computer Science'}

In [35]:
print(student['major'])

Computer Science

In [36]:
print(student['age'])

25

**Accessing dictionary elements**

In [37]:

print(student.get('name'))
print(student.get('age'))
print(student.get('major','Not Available'))

Fatima
25
Computer Science

**Modifying Dictionary Elements**

Modifying Dictionary Elements
Dictionary are mutable, so you can add, update or delete elements

In [38]:
print(student)

{'name': 'Fatima', 'age': 25, 'major': 'Computer Science'}

In [39]:
student['age']=33 #Update value for the key
print(student)
student["address"]="India" ##Added value a new key and
print(student)

{'name': 'Fatima', 'age': 33, 'major': 'Computer Science'}
{'name': 'Fatima', 'age': 33, 'major': 'Computer Science', 'address': 'India'}

In [40]:
del student['major'] #delete key and value pair
print(student)

{'name': 'Fatima', 'age': 33, 'address': 'India'}

**Dictionary Methods**

In [41]:
keys=student.keys()
print(keys)
values=student.values()# get all values
print(values)
items=student.items() #get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['Fatima', 33, 'India'])
dict_items([('name', 'Fatima'), ('age', 33), ('address', 'India')])

**Shallow Copy**

In [42]:
student_copy=student
print(student)
print(student_copy)

{'name': 'Fatima', 'age': 33, 'address': 'India'}
{'name': 'Fatima', 'age': 33, 'address': 'India'}

In [43]:
student["name"]="Fatima"
print(student)
print(student_copy)

{'name': 'Fatima', 'age': 33, 'address': 'India'}
{'name': 'Fatima', 'age': 33, 'address': 'India'}

In [44]:
student_copy1=student.copy() #shallow copy
print(student_copy1)
print(student)

{'name': 'Fatima', 'age': 33, 'address': 'India'}
{'name': 'Fatima', 'age': 33, 'address': 'India'}

In [45]:
student['name']="FatimaKha"
print(student_copy1)
print(student)

{'name': 'Fatima', 'age': 33, 'address': 'India'}
{'name': 'FatimaKha', 'age': 33, 'address': 'India'}

**Iterating Over Dictionaries**

You can use loops to iterate over dictionaries, keys, values, or items
Iterating over keys

In [46]:
for keys in student.keys():
  print(keys)

name
age
address

Iterate over values

In [47]:
for values in student.values():
  print(values)

FatimaKha
33
India

Iterate over key values pairs

In [48]:
for keys,value in student.items():
  print(keys,value)

name FatimaKha
age 33
address India

**Nested Dictionaries**

In [49]:
students={
    "student1":{"name":"Kosha","age":32},
    "student2":{"name":"Peter","age":35}
}
print(students)

{'student1': {'name': 'Kosha', 'age': 32}, 'student2': {'name': 'Peter', 'age': 35}}

**Access nested dictionaries elements**

In [50]:
print(students["student2"]["name"])
print(students["student2"]["age"])

Peter
35

In [51]:
students.items()

dict_items([('student1', {'name': 'Kosha', 'age': 32}), ('student2', {'name': 'Peter', 'age': 35})])

**Iterating over nested dictionaries**

In [52]:
for student_id, student_info in  students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

student1:{'name': 'Kosha', 'age': 32}
name:Kosha
age:32
student2:{'name': 'Peter', 'age': 35}
name:Peter
age:35

**Iterating over nested dictionaries**

In [53]:
for student_id,student_info in students.items():
  print(student_id)
  print(student_info)
  for key,value in student_info.items():
    print(key,value)

student1
{'name': 'Kosha', 'age': 32}
name Kosha
age 32
student2
{'name': 'Peter', 'age': 35}
name Peter
age 35

**Dictionary Comprehension**

In [54]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

**Conditional dictionary comprehension**

In [55]:
evens={x:x**2 for x in range(10) if x%2==0}
print(evens)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

**Practical Examples**

In [56]:
#Use a dictionary to count the frequency of elements in list
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}
for number in numbers:
  if number in frequency:
    frequency[number]+=1
  else:
    frequency[number]=1
print(frequency)

{1: 1, 2: 2, 3: 3, 4: 4}

**Merge 2 dictionaries into one**

In [57]:
dict1={"a":1,"b":2}
dict2={"c":3,"d":4}
merge_dict={**dict1,**dict2}
print(merge_dict)## ** is used if we give any number of key value pair and it append it into the dictionary, this is also called as keyword arguement

{'a': 1, 'b': 2, 'c': 3, 'd': 4}



**Creating and Accessing the dictionary**

In [58]:
d={i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**Accessing Dictionary Elements**

In [59]:
print(d[5])
print(d)

25
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [60]:
print("Value of Key 5:{d[5]}")
print("Keys: {list(d.keys())}")

Value of Key 5:{d[5]}
Keys: {list(d.keys())}




**Dictionary Methods**

In [61]:
#Another way of creating and accessing the Dictionaries
d1={i:i**2 for i in range(2,22)}
print(d1)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441}

**Dictionary Methods**


Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [62]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [63]:
d[11]=121
d
#d.pop(1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [64]:
d.pop(1, None) #This is because the pop method is already used in the previous cell

1

**Iterating Over Dictionaries**

Iterate over the dictionary created in Assignment 1 and print each key-value pair.

In [65]:
for key,value in d.items():
  print(key,value)

2 4
3 9
4 16
5 25
6 36
7 49
8 64
9 81
10 100
11 121

In [66]:
d.items() # This is the dictionary that has already created above

dict_items([(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100), (11, 121)])

**Dictionary Comprehensions**

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary

In [67]:
cubes={i:i**3 for i in range(1,11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

**Merging Dictionaries**

Create two dictionaries : one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [68]:
dictionary1={i:i**2 for i in range(1,6)}
dictionary2={i:i**2 for i in range(7,12)}
merge_dict=dictionary1|dictionary2
print(merge_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [69]:
dictionary1.update(dictionary2)
print(dictionary1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

**Nested Dictionary**

Create a nested dictionary representing a student with keys 'name','age','grades', where 'grades' is another distionary with keys 'math', 'science', and 'english'. Print the nested dictionary

In [70]:
student={'name':'Rahul','age': 32,'grades':{'math':90,'science':85,'english':95}}
print(student)

{'name': 'Rahul', 'age': 32, 'grades': {'math': 90, 'science': 85, 'english': 95}}

**Dictionary of Lists**

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key. Print the dictionary

In [71]:
d1={i:list(range(i,i+5)) for i in range(1,6)}
print(d1)

{1: [1, 2, 3, 4, 5], 2: [2, 3, 4, 5, 6], 3: [3, 4, 5, 6, 7], 4: [4, 5, 6, 7, 8], 5: [5, 6, 7, 8, 9]}

**Dictionary of Tuples**

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [72]:
tuple_dict={i: i**2 for i in range(1,6)}
print(tuple_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

**Dictionary and List Conversion**

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [73]:
d={i: i**2 for i in range(1,6)}
list_of_tuple=list(d.items())
print(list_of_tuple)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

**Dictionary Filtering**

Create a dictionary with the first 10 positive integers as keys and their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [17]:
d={i: i**2 for i in range(1,11)}
even_dict={k: v for k, v in d.items() if k % 2 == 0}
print(even_dict)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

**Dictionary Key and Value Transformation**

Create a dictionary with the first 5 positive integers as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary

In [21]:
positive_integer={i: i**2 for i in range(1,6)}
print(positive_integer)
swapped_dict={value: key for key, value in positive_integer.items()}
print(swapped_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

**Default Dictionary**

Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [23]:
from collections import defaultdict
default_dict=defaultdict(list)
default_dict['a'].append(1)
default_dict['a'].append(2)
default_dict['b'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1, 2], 'b': [3]})

**Counting with Dictionaries**

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [25]:
def count_chars(s):
    count_dict={}
    for char in s:
        count_dict[char]=count_dict.get(char,0)+1
    return count_dict

string="hello world"
print(count_chars(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

**Dictionary and JSON**

Create a dictionary representing a book with keys 'title','author','year'and 'genre'. Convert the dictionary to a JSON string and print it.

In [29]:
import json
book={'title':'To kill a Mockingbird',
      'author':'Harper Lee',
      'year':1960,
      'genre':'Fiction'}


book_json=json.dumps(book)
print(book_json)

{"title": "To kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}