# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

**Sets**

Sets are a built-in data type in Python used to store collections of unique items. They are unordered,meaning that the elements do not follow a specific order, and they do not allow duplicate elements. Sets are useful for membership tests, eliminating duplicate entries, and performing mathematical set operations like union, intersection, difference, and summetric difference.

In [2]:
#Assignment 1: Creating and Accessing Sets
#Create a set with the first 10 positive integers. Print the set.
set1={1,2,3,4,5,6,7,8,9,10}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [3]:
#Assignment 2: Adding and Removing Elements
#Add the number 11 to the set created in Assignment 1.
#Then remove the number 1 from the set. Print the modified set.
set1.add(11)
print(set1)
#set1.remove(1)
print(set1)

#Pop method for removing element
#set1.pop()
#print(set1)

#Clear all the elements
set1.clear()
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
set()

In [4]:
#Assignment 3: Set Operations
#Create two sets: one with the first 5 positive integers and another with the first 5 even integers.
#Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.
set2={2,4,6,8,10}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

#Set Membership Test
my_set={1,2,3,4,5}
print(3 in my_set)
print(8 in my_set)

{2, 4, 6, 8, 10}
set()
set()
{2, 4, 6, 8, 10}
True
False

In [5]:
#Mathematical Operation
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}
print(set1.union(set2)) #Union
print(set1.intersection(set2)) #Intersection
print(set1.difference(set2)) #Difference

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [6]:
#Sets Methods
set1={1,2,3}
set2={1,2,3,4,5}

##is subset
print(set1.issubset(set2))
print(set1.issuperset(set2))

True
False

In [7]:
lst=[1,2,2,3,4,4,5]
set(lst)

{1, 2, 3, 4, 5}

In [8]:
#Counting Unique words in text

text="In this tutuorial we are discussing about sets"
words=text.split()

#convert list of words to set to get unique words

unique_words=set(words)
print(unique_words)
print(len(unique_words))

#count the number of unique words
count=len(unique_words)

{'we', 'this', 'about', 'sets', 'discussing', 'In', 'tutuorial', 'are'}
8

In [9]:
# Assignment 4: Set Comprehensions
# Create a new set containing the squares of the first 10 positive integers using a set comprehension.
# Print the new set
set3={i**2 for i in range(1,11)}
print(set3)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [10]:
#Assignment 5: Filtering Sets
#Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension.
#Print the new set.

#filter_set={2,4,6,8,10}
filter_set={i for i in set1 if i%2==0}
print(filter_set)

{2}

In [17]:
#Assignment 6: Set Methods
#Create a set with duplicate elements and remove the duplicates using set methods.
#Print the modified set.#
set4={1,1,2,2,3,4,5,6,6,7,8,9,9}
set4.remove(6)
print(set4)

{1, 2, 3, 4, 5, 7, 8, 9}

In [19]:
#Assignment 7: Subsets and Supersets
#Create two sets: one with the first 5 positive integers and another with the first 3 positive integers.
#Check if the second set is a subset of the first set and if the first set is a superset of the second set.
#Print the results.

set5={1,2,3,4,5}
set6={1,2,3}
print(set6.issubset(set5))
print(set5.issuperset(set6))

print(set6.issubset(set5))
print(set5.issuperset(set6))

True
True
True
True

In [22]:
#Assignment 8: Frozenset
#Create a frozenset with the first 5 positive integers. Print the frozenset.

frozen_set=frozenset([1,2,3,4,5,6])#Frozen set is a set which is immutable set which can't be changed similar to tuples
print(frozen_set)

frozenset({1, 2, 3, 4, 5, 6})

In [28]:
#Assignment 9: Set and List Conversion
#Create a set with the first 5 positive integers.
#Convert it to a list, append the number 6, and convert it back to a set.
#Print the resulting set.

set7={1,2,3,4,5}
list1=list(set7)
print(list1)
print(list1.append(6))
print(list1)
print(set(list1))

[1, 2, 3, 4, 5]
None
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [33]:
### Assignment 10: Set and Dictionary

#Create a dictionary with set keys and integer values. Print the dictionary.
dict1={1,2,3,4,5}
print(dict1)

dict2={1:1,2:4,3:9,4:16,5:25}
print(dict2)

{1, 2, 3, 4, 5}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [35]:
### Assignment 11: Iterating Over Sets

#Create a set and iterate over the elements, printing each element.
set8={1,2,3,4,5}
for i in set8:
    print(i)

1
2
3
4
5

In [36]:
### Assignment 12: Removing Elements from Sets

#Create a set and remove elements from it until it is empty. Print the set after each removal.
set9={1,2,3,4,5,6,7,8,9,10}
while set9:
    set9.pop()
    print(set9)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

In [38]:
### Assignment 13: Set Symmetric Difference Update

#Create two sets and update the first set with the symmetric difference of the two sets.
#Print the modified first set.

sset1={1,2,3,4,5}
sset2={4,5,6,7,8}
sset1.symmetric_difference_update(sset2)
print(sset1)

{1, 2, 3, 6, 7, 8}

In [39]:
### Assignment 14: Set Membership Testing

#Create a set and test if certain elements are present in the set. Print the results.
set10={1,2,3,4,5,6,7,8,9,10}
print(3 in set10)
print(11 in set10)

True
False

In [41]:
### Assignment 15: Set of Tuples

#Create a set containing tuples, where each tuple contains two elements. Print the set.
set_tuple={(1,2),(3,4),(5,6)}
print(set_tuple)

{(1, 2), (3, 4), (5, 6)}