# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
# Tuples
# Assignement 1 :Creating and Accessing Tuple Assignments
# Create a tuple with the first 10 positive integers. Print the tuple

positive_integers=((1,2,3,4,5,6,7,8,9,10))
print(positive_integers)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [34]:
# Assignment 2 :Accessing Tuples Elements
# Print the first, middle, and last elements of the tuple created in Assignment 1
print(positive_integers[0])
print(positive_integers[4])
print(positive_integers[9])

1
5
10

In [35]:
# Assignment 3: Tuple Slicing
# Print the first three elements, the last three elements, and
# the elements from index 2 to 5 of the tuple created in Assignment 1.
print(positive_integers[0:3])
print(positive_integers[7:10])
print(positive_integers[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [36]:
# Assignment 4: Nested Tuples
# Create a nested tuple representing a 3x3 matrix and print the matrix.
# Access and print the element at the second row and third column.
nested_tuple=((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [37]:
# Assignment 5: Tuple Concatenation
tuple_concatenation=(1,2,3)+(4,5,6)
print(tuple_concatenation)

(1, 2, 3, 4, 5, 6)

In [38]:
# Assignment 6 : Tuple Methods
# Create a tuple with duplicate elements and count the occurrences of an element.
# Find the index of the first occurrence of an element in the tuple.
tuple_with_duplicate_elements=(1,2,3,3,4,5,6)
print(tuple_with_duplicate_elements.count(3)) #Tuple_methods
print(tuple_with_duplicate_elements.index(3)) #Tuple_methods

2
2

In [39]:
# Assignment 7 : Unpacking Tuple
# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
unpacking_tuple=(1,2,3,4,5)
print(unpacking_tuple[0])
print(unpacking_tuple[1])
print(unpacking_tuple[2])
print(unpacking_tuple[3])
print(unpacking_tuple[4])

1
2
3
4
5

In [40]:
# Assignment 8: Tuple Conversion
# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
list_of_positive_integers=[1,2,3,4,5]
print(tuple(list_of_positive_integers))

(1, 2, 3, 4, 5)

In [41]:
# Assignment 9: Tuple of Tuples
# Create a tuple containing 3 tuples, each with 3 elements.
# Print the tuple of tuples.
tuple_of_tuples=((1,2,3),(4,5,6),(7,8,9))
print(tuple_of_tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [42]:
# Assignment 10: Tuples to Lists
# Create a tuple with the first 5 positive integers.
# Convert it to a list, append the number 6, and convert it back to a tuple.
# Print the resulting tuple.
positive_tuple=(1,2,3,4,5)
positive_list=list(positive_tuple)
print(positive_list)
positive_list.append(6)
print(positive_list)
positive_tuple=tuple(positive_list)
print(positive_tuple)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [45]:
#Assignment 11: Tuple and String
#Create a tuple with the characters of a string.
#Join the tuple elements into a single string. Print the string.
string_tuple=('a','b','c','d','e')
print(string_tuple)

('a', 'b', 'c', 'd', 'e')

In [49]:
#Assignment 12: Tuple and Dictionary
#Create a dictionary with tuple keys and integer values. Print the dictionary.
dictionary_tuple=({'a',1})
print(dictionary_value)

{1, 'a'}

In [50]:
#Assignment 13: Nested Tuple Iteration
#Create a nested tuple and iterate over the elements, printing each element.

nested_tuple=((1,2,3),(4,5,6),(7,8,9))
for sub_tuple in nested_tuple:
    for item in sub_tuple:
      print(sub_tuple)

(1, 2, 3)
(1, 2, 3)
(1, 2, 3)
(4, 5, 6)
(4, 5, 6)
(4, 5, 6)
(7, 8, 9)
(7, 8, 9)
(7, 8, 9)

In [51]:
#Assignment 14: Tuple and Set
#Create a tuple with duplicate elements.
#Convert it to a set to remove duplicates and print the resulting set.
tuple_with_duplicate_elements=(1,2,3,3,4,5,6)
print(set(tuple_with_duplicate_elements))

{1, 2, 3, 4, 5, 6}

In [53]:
# Assignment 15: Tuple Functions
# Write functions that take a tuple and return the minimum, maximum, and sum of the elements.
# Print the results for a sample tuple.
tuple_with_duplicate_elements=(1,2,3,3,4,5,6)
print(min(tuple_with_duplicate_elements))
print(max(tuple_with_duplicate_elements))
print(sum(tuple_with_duplicate_elements))

1
6
24